# General system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Node.js
node_modules/
pnpm-lock.yaml
package-lock.json

# Temporary files
*.tmp
*.swp
.sass-cache/

